.border { border: 2px solid black; padding: 10px; margin-right: 250px;}
#email { margin-left: 69px;}
#username { margin-left: 42px;}
#password { margin-left: 44px;}
#repet-password { margin-left: 2px;}
#reset { margin-left: 148px; background-color: blue; color: white;}
#send { margin-left: 10px; background-color: blue; color: white;}
.background-red { background-color: red; border-radius: 7px;}
.background-red::placeholder { color: white;}
.button { border-radius: 7px;}
legend { color: green; font-size: 30px;}
legend:hover { background-color:cyan;}