body {margin: 0%;}
main {background-color: #FFF4A3; width: 100%; height: 420px; display: flex;}
.left-section {width: 50%; display: flex; justify-content:flex-start; align-items:center; flex-direction: column;}
.right-section {width: 50%;display: flex; justify-content:center; align-items:center; flex-direction: column;}
.javascript { font-family: "Source Sans Pro"; font-weight: 900; font-size: 30px;}
.p {font-family: "Source Sans Pro"; font-size: 17px; font-weight: bold; margin: 0%; margin-bottom: 25px;}
.button1 { width: 185px; height: 40px; border-radius: 20px; font-size: 15px; color: white; background-color:#04AA6D; border: 0px; font-weight: bold; cursor: pointer;}
.button1:hover { background-color: rgb(4,150,100);}
.button2 { width: 185px; height: 40px; border-radius: 20px; font-size: 15px; color: white ; background-color:#282A35; border: 0px; font-weight: bold; cursor: pointer;}
.button2:hover {background-color: #000;}
.die { background-color: #E7E9EB; width: 80%; height: 84%; display: flex; justify-content:flex-start; align-items:flex-start; flex-direction: column; padding: 0px 13px; box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);}
.javascript-example { font-family: "Source Sans Pro"; font-weight:bold;}
.section-white { background-color: white; width: 100%; min-height: 200px; margin-bottom: 21px; border-left: 4px solid #04AA6D; padding: 10px; box-sizing: border-box; font-size: 15px;}
.button3 { background-color: #04AA6D; color: wheat; width: 185px; height: 40px; border-radius: 20px; font-size: 15px; border: 0px; font-weight: bold; cursor: pointer;}
.button3:hover { background-color: rgb(4,150,100);}
.color-blue { color: mediumblue;}
.color-brown { color: brown;}
.color-red { color: red;}